[Unit]
Description=System network usage monitoring tool
Requires=network.target

[Service]
ExecStart=
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

# --- Process behavior ---
Type=simple
Restart=on-failure
RestartSec=3
TimeoutStartSec=30
TimeoutStopSec=15

[Install]
WantedBy=default.target
